/* add home page styles here */
.rules {
    display: flex;
    align-items: center;
}
img {
    height: 100px;
    width: 150px;
    margin: 20px 20px 0px 20px;
}
input[type=radio]{
    display: none;
}
input[type=radio]:checked + img {
    border: 5px solid gray;
    
}
input[type=radio]:not(:checked) +img:hover {
    opacity: 50%;
    cursor: pointer;
}
.rps {
    display: flex;
    flex-direction:row;
}
div {
    padding: 10px;
    margin: 20px;
}
div {
    font-weight: bolder;
    font-size: 2rem;
}
.score {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
span {
    font-size: 1.5rem;
    color:darkblue
}