/* add home page styles here */
.rules {
    display: flex;
    align-items: center;
}
img {
    height: 100px;
    width: 150px;
}
input[type=radio]{
    display: none;
}
input[type=radio]:checked + img {
    border: 5px solid gray;
    
}
input[type=radio]:not(:checked) +img:hover {
    opacity: 50%;
    cursor: pointer;
}